@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Work Sans", sans-serif;
  --primary-color: #00466e;
  --secondry-color: #006b6e;
  --success: #058423;
  --error: #fc5200;
  --fetching: #87e7ff;
  --black: #181818;
  --white: #ffffff;
  --grey: #505050;
  --grey-light: #b4b4b4;
  --placeholder-color: #b5b5b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1797px;
  max-width: 90%;
  margin: 0 auto;
}

h2 {
  font: normal normal bold 1.25rem/1.5rem Work Sans;
  margin: 0;
  color: var(--primary-color);
  text-transform: uppercase;
}

header {
  border-bottom: 1px solid var(--grey-light);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

nav > p {
  font: normal normal normal 1rem/1.187rem Work Sans;
  color: var(--secondry-color);
}
.searchBar {
  display: flex;
  padding: 30px 0;
  align-items: flex-start;
  justify-content: space-between;
}
.searchBar input {
  width: 100%;
  border: 1px solid var(--grey-light);
  border-radius: 6px;
  padding: 25px 20px;
  font: normal normal normal 1rem/1.187rem Work Sans;
  color: var(--black);
}
.input-control {
  width: 100%;
  margin-right: 1.5%;
}
.input-control span {
  display: none;
}
.searchBar input::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font: normal normal normal 1rem/1.187rem Work Sans;
}
.searchBar input:-ms-input-placeholder {
  color: var(--placeholder-color);
  font: normal normal normal 1rem/1.187rem Work Sans;
}
.searchBar input::placeholder {
  color: var(--placeholder-color);
  font: normal normal normal 1rem/1.187rem Work Sans;
}
.errmessage input {
  position: relative;
  border-color: var(--error);
}
.errmessage span {
  display: block;
  margin: 5px 0 0 0;
  font-size: 0.8rem;
  color: var(--error);
}

.searchBar button {
  width: auto;
  white-space: nowrap;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--white);
  font: normal normal normal 1rem/1.187rem Work Sans;
  padding: 25px 8px;
  width: 25%;
  cursor: pointer;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  margin: 0.4rem 0 0rem 0;
  padding: 0 0 0.4rem 0;
}

h4 {
  font: normal normal 600 1.5rem/1.75rem Work Sans;
  color: var(--black);
  display: block;
}
article .left h4 {
  margin-bottom: 0.5rem;
}
article .left a {
  font: normal normal normal 1rem/1.187rem Work Sans;
  text-decoration: none;
}
article .left {
  padding: 1rem 0 1rem 0;
}

article .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .right span {
  font: normal normal normal 1rem/1.187rem Work Sans;
  text-align: left;
  color: var(--grey-light);
  width: 270px;
}

.right button {
  font: normal normal bold 1rem/1.187rem Work Sans;
  color: var(--white);
  width: 155px;
  height: 62px;
  border: 0;
  border-radius: 6px;
  text-transform: uppercase;
}
.url-section {
  margin-top: 0.5rem;
}
.urls {
  margin-top: 1.5rem;
}

.live .left a {
  color: var(--primary-color);
}
.live .right button {
  background-color: var(--success);
}

.error .left a {
  color: var(--error);
}
.error .right button {
  background-color: var(--error);
}
.error .left {
  position: relative;
  padding-left: 1.5rem;
}
.error .left::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: var(--error);
  left: 0;
  top: 0;
}
.fetching .left a {
  color: var(--primary-color);
}
.fetching .right button {
  background-color: var(--fetching);
}
.fetching .right {
  justify-content: flex-end;
}
.fetching .right span {
  display: none;
}
footer h6 {
  font: normal normal normal 1rem/1.187rem Work Sans;
  color: var(--grey);
  margin: 2rem 0;
}

footer p {
  font: normal normal normal 1rem/1.187rem Work Sans;
  color: var(--grey-light);
  margin-bottom: 2rem;
}

.loading {
  text-align: center;
}

@media (max-width: 1500px) and (min-width: 767px) {
  h2,
  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  nav > p,
  .searchBar button,
  article .right span,
  .right button,
  footer h6,
  footer p,
  .searchBar input {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  article .right span {
    width: 215px;
  }
  .right button {
    width: 130px;
    height: 55px;
  }
}

@media (max-width: 1000px) and (min-width: 767px) {
  h2,
  h4 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  article .left h4 {
    margin-right: 1rem;
  }
  nav > p,
  .searchBar button,
  article .right span,
  .right button,
  footer h6,
  footer p,
  .searchBar input {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
  article .right span {
    width: 160px;
  }
  .right button {
    width: 100px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  nav {
    flex-direction: column;
  }
  .searchBar {
    align-items: flex-start;
    flex-direction: column;
  }
  .searchBar input {
    width: 100%;
    padding: 15px 10px;
    margin-right: 0;
  }
  .searchBar button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 14px 20px;
  }
  article {
    flex-direction: column;
    background-color: #efefef8c;
    border: 0;
    border-radius: 6px;
    padding: 25px;
    margin: 0.7rem 0 0rem 0;
  }
  article .right {
    flex-direction: column;
    align-items: flex-start;
  }
  h2,
  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  nav > p,
  .searchBar button,
  article .right span,
  .right button,
  footer h6,
  footer p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .searchBar input {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  article .right,
  article .left {
    width: 100%;
  }
  .right button {
    width: auto;
    height: auto;
    padding: 10px 25px;
    margin: 0;
  }
  article .right span {
    width: auto;
  }
  article .right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  article .left h4 {
    margin-bottom: 0.2rem;
  }
  article .left a {
    font-size: 0.6rem;
  }
  article .left {
    padding: 0.5rem 0;
  }
  .error .left::after {
    content: none;
  }
  .error .left {
    padding-left: 0;
  }
  .error {
    border-left: 5px solid var(--error);
  }
  nav > p {
    margin-top: 0.5rem;
  }
}

@media (max-width: 450px) {
  .loading img {
    width: 100%;
  }
}
